body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
.add-thread-form {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: space-between;
}

.replies-border {
  border-left: 2px solid red;
}

.replies-author {
  font-weight: bold;
}

.replies-details {
  font-size: smaller;
  color: grey
}

.saved-container {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  padding: 10%;
  padding-top: 10px;
}

.saved-thread {
  display: flex;
}


.saved-thread img {
  max-height: 75px;
  margin-left: 18px;

}

.saved-left-align {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%
}

.saved-details {
  margin-top: auto;
  font-size: smaller;
  color: grey
}

.radio-container {
  display: flex;
  justify-content: center;
}

.radio-box {
  padding-left: 5px;
  padding-right: 5px;
}


.details-right-align {
  margin-left: auto;
}

.replies-author {
  display: flex;
}


.replies-span {
  display: flex;
  justify-content: space-between;
}