body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}

.route-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-button {
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: fit-content;
  padding: 8px;
  cursor: pointer;
}

.login-header {
  margin-top: 0px
}

.login-button {
  width: 35%;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 75%;
}

button:active {
  transform: scale(.98);

}

.login-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  align-items: center;
}

.nav-bar {
  background-color: navy;
  width: 100%;
  display: flex;
  height: 5vh;
  align-items: center;
}

.thread-subreddit {
  padding-bottom: 7px
}

.saved-bottom {
  padding-top: 7px;
}

.nav-left {
  margin-right: auto;
  padding-left: 1.5%;
}

.nav-right {
  padding-right: 1.5%;
}

.nav-bar a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}


.replies-container,
.saved-left-align {
  font-size: 14px;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

.audio-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  padding-left: 8px;
  width: 50%
}

.progress-bar {
  display: flex;
  flex-grow: 1;
  border: 1px solid grey;
  border-radius: 4px;
  width: 70%;
  height: 5px;
  align-self: center;
  margin-left: 5px;
}

.thread-progress-bar {
  display: flex;
  border: 1px solid grey;
  border-radius: 4px;
  width: 70%;
  height: 5px;
  align-self: center;
}

.progress,
.thread-progress {
  border-radius: 4px;
}

.saved-right-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar-global {
  display: flex;
  border: 1px solid grey;
  border-radius: 4px;
  width: 70%;
  height: 5px;
  align-self: center;
  margin-left: 5px;
  background-color: darkgrey;
  cursor: pointer
}

.thread-progress {
  background-color: black;
}

.progress {
  background-color: white;
}




.global-player-container {
  display: flex;
  height: 15%;
  width: 100%;
  justify-content: center;
  bottom: 0;
  position: fixed;
}

.audio-button {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.audio-button-image {
  cursor: pointer;
}

.global-player {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: dimgrey;
}




.global-audio-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.global-audio-title {
  font-size: 15px;
  color: white;
}

.op-details-left {
  width: 75%;
  font-size: smaller;
  color: grey
}

.op-details-right {
  display: flex;
  justify-content: center;
  width: 25%;
  font-size: 40px;
}

.thread-play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%
}

.op-title-span {
  display: flex;
  margin-top: 0px;
  justify-content: space-between;
}

.op-title {
  width: 80%
}

.op-comments-container {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.thread-play {
  height: 40px;
  display: flex;
  cursor: pointer;
}



.op-details-bottom {
  display: flex;
  align-items: center;
  padding-top: 20px;
}



.op-comments {
  font-weight: bold;
}

.subreddit-header {
  max-height: 75px;
}

.thread-audio-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.thread-audio {
  width: 30%;
  padding-top: 10px;
}

.thread-audio-button {
  width: 100%;
  cursor: pointer;
}

.audio-control-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  width: 18%;
  height: 26%;
}

/* media query audio-control contatiner 
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  width: 10%;
  height: 40%; */

.saved-author {
  padding-right: 5px;
}

.saved-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

.audio-controls {
  margin-left: 5px;
  margin-right: 5px;
}

h1,
.add-thread-form {
  display: flex;
  justify-content: center;
}

.thread {
  display: flex;
  flex-direction: column;
  margin: 10px
}

.thread-container {
  display: flex;
  flex-direction: column;
  width: 100%
}

.sort-items {
  padding-left: 5px;
  padding-right: 5px;
}

.sort-container {
  display: flex;
  align-items: flex-end;
  padding-top: 10px;
}

.add-thread-item {
  margin-left: 5px;
  margin-right: 5px;
}

.replies-border {
  border-left: 2px solid red;
}

.replies-author {
  font-weight: bold;
}

.replies-details {
  font-size: smaller;
  color: grey
}

.login-form,
.login-container {
  display: flex;
}

.login-container,
.login-form {
  justify-content: center;
}

.login-form .login-container {
  flex-flow: column wrap;
}

.saved-container {
  display: flex;
  flex-flow: column wrap;
  padding-top: 20px;
  width: 90%;
}

a:visited {
  color: blue;
}

.nav-bar a {
  color: white;
}

.thread-container {
  background: white;
}

.saved-thread {
  display: flex;
  border: 1px solid #404040;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}


.saved-thread img {
  max-height: 75px;
  margin-left: 5px;

}

.saved-left-align {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

hr {
  width: 100%
}

.saved-details-left {
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  color: grey;
  height: -webkit-fill-available;
  display: flex;
}

.saved-details {
  display: flex;
  height: -webkit-fill-available
}

.op-audio-control {
  color: white;
}

.left-bottom {
  display: flex;
  flex-direction: column;
}


.details-right-align {
  margin-left: auto;
}

.sort-items {
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif
}

.add-thread-button {
  border: 1px solid #404040;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif
}

.add-thread-input {
  border-radius: 5px;
  border: 1px solid #404040;
}

.replies-author {
  display: flex;
}


.replies-span {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 450px) {
  .audio-button {
    width: 5%;
  }

  .saved-container {
    width: 50%;
  }
}