body {
  margin: 0px;
  min-height: -webkit-fill-available;
  background-color: aliceblue;
  word-wrap: break-word;
}

body,
code,
.sort-items,
.add-thread-button {
  font-family: Arial, Helvetica, sans-serif;
}

body,
h1,
.route-wrapper,
.delete-button,
.login-wrapper,
.nav-bar,
.audio-container,
.thread-progress-bar,
.saved-right-align,
.global-player-container,
.audio-button,
.global-player,
.global-audio-details,
.op-details-right,
.thread-play-container,
.op-title-span,
.op-comments-container,
.thread-play,
.op-details-bottom,
.thread-audio-container,
.audio-control-container,
.saved-bottom,
.add-thread-form,
.thread,
.thread-container,
.sort-container,
.login-form,
.login-container,
.saved-container,
.saved-thread,
.saved-left-align,
.saved-details-left,
.saved-details,
.left-bottom,
.replies-author,
.replies-span {
  display: flex;
}

body,
.route-wrapper,
.login-wrapper,
.saved-right-align,
.global-audio-details,
.thread,
.thread-container,
.saved-left-align,
.saved-details-left,
.left-bottom {
  flex-direction: column;
}

.delete-button,
.route-wrapper,
.login-wrapper,
.nav-bar,
.audio-container,
.saved-right-align,
.global-audio-details,
.thread-play-container,
.op-details-bottom,
.audio-control-container {
  align-items: center;
}

h1,
.delete-button,
.global-player-container,
.audio-button,
.op-details-right,
.thread-play-container,
.add-thread-form,
.login-container,
.login-form {
  justify-content: center;
}

.delete-button {
  height: 16px;
  border-radius: 7px;
  width: fit-content;
  padding: 8px;
}

a:visited {
  color: blue;
}

.delete-button,
.login-button,
.nav-bar a,
.progress-bar-global,
.audio-button-image,
.thread-play,
.thread-audio-button,
.add-thread-button {
  cursor: pointer;
}

.login-header,
.op-title-span {
  margin-top: 0px
}

.login-button,
.login-wrapper,
.saved-thread {
  border-radius: 10px;
}


.login-button {
  width: 35%;
}

button:hover:enabled {
  opacity: 75%;
}

button:active:enabled {
  transform: scale(.98);
}

.login-wrapper,
.saved-thread {
  padding: 10px;
}

.login-wrapper {
  border: 1px solid black;
  margin-top: 10px;
}

.nav-bar {
  background-color: navy;
  height: 5vh;
}

.thread-subreddit {
  padding-bottom: 7px
}

.saved-bottom {
  padding-top: 7px;
}

.nav-left,
.saved-left-align {
  margin-right: auto;
}

.nav-left {
  padding-left: 1.5%;
}

.nav-right {
  padding-right: 1.5%;
}

.nav-bar a {
  text-decoration: none;
}

.replies-container,
.saved-left-align {
  font-size: 14px;
}

.audio-container,
.audio-control-container {
  justify-content: space-around;
}

.audio-container,
.progress-bar {
  flex-grow: 1;
}

.thread-audio-container {
  align-items: flex-start;
}

.audio-container,
.thread-audio-container,
.saved-details-left {
  width: 50%
}

.audio-container {
  padding-left: 8px;
}

.progress-bar,
.thread-progress-bar,
.progress-bar-global,
.delete-button {
  border: 1px solid grey;
}

.progress-bar,
.thread-progress-bar,
.progress,
.thread-progress,
.progress-bar-global,
.sort-items,
.add-thread-button {
  border-radius: 4px;
}

.progress-bar,
.thread-progress-bar,
.progress-bar-global {
  width: 70%;
}

.progress-bar,
.progress-bar-global,
.audio-controls,
.add-thread-item,
.saved-thread img {
  margin-left: 5px;
}

.progress-bar,
.thread-progress-bar,
.progress-bar-global {
  height: 5px;
}

.progress-bar-global {
  background-color: darkgrey;
}

.thread-progress {
  background-color: black;
}

.progress,
.saved-thread,
.thread-container {
  background-color: white;
}

hr,
.global-player-container,
.audio-button,
.global-player,
.global-audio-details,
.thread-audio-button,
.thread-container,
.nav-bar,
.op-title-span {
  width: 100%;
}

.global-player-container {
  height: 15%;
  bottom: 0;
  position: fixed;
  box-shadow: 0 4px 12px 0
}

.audio-button,
.global-player {
  height: 100%;
}

.global-player {
  background-color: dimgrey;
}

.global-audio-details {
  justify-content: space-evenly;
}

.global-audio-title,
.nav-bar a,
.op-audio-control {
  color: white;
}

.global-audio-title {
  font-size: 15px;
}

.op-details-left,
.saved-details-left,
.replies-details {
  color: grey;
}

.op-details-left {
  width: 75%;
}

.op-details-left,
.replies-details {
  font-size: smaller;
}

.op-comments-container {
  width: 25%;
}

.thread-play-container {
  width: 10%
}

.op-title-span,
.saved-details-left,
.saved-right-align,
.saved-left-align,
.replies-span {
  justify-content: space-between;
}

.op-title {
  width: 80%
}

.op-comments-container {
  justify-content: flex-end;
  align-self: flex-end;
}

.thread-play {
  height: 40px;
}

.op-details-bottom,
.saved-container {
  padding-top: 20px;
}

.op-comments,
.replies-author {
  font-weight: bold;
}

.subreddit-header {
  max-height: 75px;
}

.thread-audio-container {
  justify-content: space-evenly;
}

.thread-audio,
.sort-container {
  padding-top: 10px;
}

.thread-audio {
  width: 30%;
}

.audio-control-container {
  width: 18%;
  height: 26%;
}

.saved-author,
.sort-items {
  padding-right: 5px;
}

.saved-bottom {
  flex-wrap: wrap;
  margin-right: 10px;
}

.audio-controls,
.add-thread-item {
  margin-right: 5px;
}

.thread {
  margin: 10px
}

.sort-items {
  padding-left: 5px;
}

.sort-container {
  align-items: flex-end;
}

.replies-border {
  border-left: 2px solid red;
}

.login-form .login-container {
  flex-flow: column wrap;
}

.saved-container {
  flex-flow: column wrap;
  width: 90%;
}

.saved-thread,
.add-thread-button,
.add-thread-input {
  border: 1px solid #404040;
}

.saved-thread {
  margin-bottom: 15px;
}

.saved-thread img {
  max-height: 75px;
}

.saved-left-align {
  width: -webkit-fill-available;
}

.details-right-align {
  margin-left: auto;
}

.add-thread-input {
  border-radius: 5px;
}

@media screen and (min-width: 450px) {
  .audio-button {
    width: 5%;
  }

  .saved-container {
    width: 50%;
  }
}